<!--=============================================
=            footer banner section area        =
=============================================-->

<!--<div class="footer-banner-section-area mb-100 mb-md-80 mb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <!--=======  ad section  =======-->

  <!--              <div class="footer-banner-section text-center">
                    <!--=======  ad section image  =======-->

                  <!--  <div class="footer-banner-section-image mb-35">
                        <img src="{{ asset('assets/cosmakeit/shop/images/banners/cabinet.jpg') }}" class="img-fluid"
                             alt="">
                    </div>

                    <!--=======  End of ad section image  =======-->


                    <!--=======  ad-content  =======-->

           <!--   <div class="footer-banner-content">
                        <h2 class="mb-30">Up To 40% Off Final Sale Items. Caught in the moment!</h2>
                        <a href="shop-left-sidebar.html" class="lezada-button lezada-button--medium">shop now</a>
                    </div> -->

                    <!--=======  End of ad-content  =======-->
<!--                </div>


            </div>
        </div>
    </div>
</div>
-->



<!--=====  End of ad section area ======-->

<!--=============================================
=            footer three         =
=============================================-->

<div class="footer footer--three pt-90 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 footer-single-widget mb-md-50 mb-sm-50">
                <!--=======  footer navigation  =======-->

                <div class="footer-nav-container footer-nav-container--horizontal mb-20">
                    <nav>
                        <ul>
                            <li><a href="#">{{ 'sylius.ui.your_store'|trans }}</a></li>
                            <li><a href="#">{{ 'sylius.ui.about'|trans }}</a></li>
                            <li><a href="#">{{ 'sylius.ui.terms_and_conditions'|trans }}</a></li>
                            <li><a href="#">{{ 'sylius.ui.privacy_policy'|trans }}</a></li>
                            <li><a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans }}</a></li>
                            <li><a href="#">FAQS</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="footer-nav-container footer-nav-container--horizontal mb-20">
                    <nav>
                        <ul>
                            <li><a href="#">{{ 'sylius.ui.faqs'|trans  }}</a></li>
                            <li><a href="#">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a></li>
                            <li><a href="#">{{ 'sylius.ui.returns_policy'|trans  }}</a></li>
                        </ul>
                    </nav>
                </div>
                <!--=======  End of footer navigation  =======-->

                <!--=======  copyright text  =======-->

                <div class="footer__copyright-text">
                    <p>&copy; 2019 COSMAKEIT. All Rights Reserved | <span>0032494663105</span> | contact@cosmakeit.com</p>
                </div>

                <!--=======  End of copyright text  =======-->
            </div>
            <div class="col-lg-3 col-md-12 footer-single-widget text-left text-lg-right">

                <!--=======  social icons  =======-->

                <div class="social-icons--footer mb-20">
                    <ul>
                        <li><a href="//www.twitter.com" data-tippy="Twitter" data-tippy-inertia="true"
                               data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                               data-tippy-theme="sharpborder" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="//www.facebook.com" data-tippy="Facebook" data-tippy-inertia="true"
                               data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                               data-tippy-theme="sharpborder" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="//www.instagram.com" data-tippy="Instagram" data-tippy-inertia="true"
                               data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                               data-tippy-theme="sharpborder" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="//www.youtube.com" data-tippy="Youtube" data-tippy-inertia="true"
                               data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                               data-tippy-theme="sharpborder" target="_blank"><i class="fab fa-youtube-play"></i></a>
                        </li>
                    </ul>
                </div>

                <!--=======  End of social icons  =======-->

                <!--=======  payment icon  =======-->

                <div class="payment-icon">
                    <img src="{{ asset('assets/cosmakeit/shop/images/icons/pay.png') }}" class="img-fluid" alt="">
                </div>

                <!--=======  End of payment icon  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of footer three  ======-->