{% extends 'knp_menu.html.twig' %}



{% block list %}
    <div class="container">
        <div class="row">

            {% for item in item.children %}
                <div class="col">
                    <h4>
                    {{ block('item') }}
                    </h4>
                </div>

            {% endfor %}
        </div>
    </div>



{% endblock %}

{% block item %}
    <a class="item" href="{{ item.uri }}">
        {{ block('icon') }}
        {{ item.label|trans }}
    </a>
{% endblock %}

{% block icon %}
    {% set icon = item.labelAttribute('icon') %}
    {% if icon %}<i class="icon {{ icon }}"></i> {% endif %}
{% endblock %}
